[submodule "src/AemulusModManager.Modules/Atlus-Script-Tools"]
	path = modules/Atlus-Script-Tools
	url = https://github.com/tge-was-taken/Atlus-Script-Tools
[submodule "modules/AtlusFileSystemLibrary"]
	path = modules/AtlusFileSystemLibrary
	url = https://github.com/alexankitty/AtlusFileSystemLibrary
[submodule "modules/AtlusPM1MessageScriptEditor"]
	path = modules/AtlusPM1MessageScriptEditor
	url = https://github.com/alexankitty/AtlusPM1MessageScriptEditor
[submodule "modules/preappfile"]
	path = modules/preappfile
	url = https://github.com/alexankitty/preappfile
[submodule "modules/SonicAudioToolsCLI"]
	path = modules/SonicAudioToolsCLI
	url = https://github.com/alexankitty/SonicAudioToolsCLI
[submodule "modules/P5-SPD-Patcher"]
	path = modules/P5-SPD-Patcher
	url = https://github.com/alexankitty/P5-SPD-Patcher
