# Ignore build artifacts and logs
AtlusScriptCompiler.log
publish/
obj/
bin/

# Ignore executables and tools
**.o
**/src/deceboot
**/src/deceboot.exe
**/AWB_repacker
**/AWB_repacker.exe
**/AWB_unpacker
**/AWB_unpacker.exe